/* ---------!!--FONTS--!!------- */
// &display=swap
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
/* ---------!!--FILE-STYLES--!!--------- */
@import "_nullstyle";
@import "_ibg";
// --------переменные--------
$gold: #a89127;
$white: #e0f2e9;
$l-green: #a8c69f;
$d-green: #4e6e58;
$brown: #544b3d;
// --------------------------
q{ 
    quotes: '\00AB' '\00BB';
}
/* --------------- */
::selection{
    background: #a89127;
    color: #e0f2e9;
}
::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-thumb{
    background-color: #352f26;
    border-radius: 21px;
    border: 2px solid #e0f2e9;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4e6e58;
}
::-webkit-scrollbar-track{
    background-color: #e0f2e9;
}
/* --------------- */
.text {
    // .text__card
    &__card {
        font-size: 18px;
        line-height: 35px;
        text-align: justify;;
        text-indent: 40px;
    }
}
.FLU {
    &::first-letter{
        font-size: 26px;
        color: $gold;
    }
}
.picture {
    padding: 0 20px;
    // .picture__body
    &__body {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    // .picture__image
    &__image, &__image-2 {
        margin: 0 auto;
        text-align: center;
        img{ max-width: 100%; }
    }
    // .picture__author
    &__author {
        margin: 5px auto 0;
        font-size: 20px;
        color: $gold;
        padding: 0 10px;
        line-height: 21px; 
    }
    // .picture__text
    &__text {
        margin-top: 25px;
    }
    // .picture__image-2
    &__image-2 {
        float: right;
        display: inline-flex;
        padding: 0 0 0 10px;
    }
    // .picture__border
    &__border {
        margin: 0 auto 30px auto;
        width: 50px;
        height: 1px;
        background-color: #a89127;
    }
}
.author {
    margin: 5px auto 0;
    font-size: 20px;
    color: $gold;
    // .author__image
    &__image {
        flex: 1 1 33.333%;
        margin-left: 20px;
    }
    // .author__body
    &__body {
        margin: 30px 0 40px;
    }
    // .author__title
    &__title {
        font-size: 40px;
        color: $gold;
        text-align: center;
        margin-bottom: 20px;
    }
    // .author__card
    &__card {
        display: flex;
        // padding: 0 20px;
    }
    // .author__text
    &__text {
        flex: 1 1 66.667%;
        line-height: 35px;
    }
}

.exhibit-block {
    padding: 40px 0;
    // .exhibit-block__row
    &__row {
        display: flex;
        align-items: stretch;
    }
    // .exhibit-block__column
    &__column {
       &:first-child{flex: 0 0 25%;}
       &:last-child{flex: 0 0 75%;}
    }
    
    // .exhibit-block__image
    &__image {
        height: 100%;
        display: flex;
        align-items: center;
        img{max-width: 100%;}
    }
    // .exhibit-block__body
    &__body {
        padding: 20px;
    }
    // .exhibit-block__title
    &__title {
        font-size: 24px;
        text-align: center;
        color: #a89127;
        margin-bottom: 15px;
        line-height: 26px;
    }
    // .exhibit-block__subtitle
    &__subtitle {
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
    }
    // .exhibit-block__text
    &__text {
        p{text-indent: 15px;}
        font-size: 18px;
        line-height: 35px;
        text-align: justify;
    }
}
.exhibit-block__left{
    .exhibit-block__column:first-child{order:1;}
    .exhibit-block__column:last-child{order:2;}
    padding-left: 20px;
}
.exhibit-block__right{
    .exhibit-block__column:last-child{order:1;}
    .exhibit-block__column:first-child{order:2;}
    padding-right: 20px;
}
.history-gallery, .history-museum, .history-old {
    margin-bottom: 30px;
    padding: 0 20px;
    // .history-gallery__title
    &__title {
        text-align: center;
        line-height: 36px;
        font-size: 40px;
        color: $gold;
        margin-bottom: 20px;
    }
    // .history-gallery__body
    &__body {
        display: flex;
    }
    // .history-gallery__text
    &__text {
        text-indent: 40px;
        flex: 0 0 66.667%;
        line-height: 35px;
        font-size: 18px;
        text-align: justify;
        padding: 0 20px 0 0 ;
    }
    // .history-gallery__image
    &__image {
        flex: 0 0 33.333%;
    }
}

.error{
    white-space: pre-line;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: $brown;
}
.popup{
    position: absolute;
    top: 100px;
    right: 40px;
    display: inline-block;
    width: 300px;
    z-index: 2;
    img{max-width: 95%; z-index: 1;}
    span{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        &:hover{cursor: pointer;}
        &::before, &::after{
            height: 1.5px;
            width: 100%;
            background-color: $brown;
            content: '';
            position: absolute;
            top: 0;
        }
        &::before{transform: rotate(-40deg);}
        &::after{transform: rotate(40deg);}
    }
}
/* ---------!!--BODY--!!--------- */
body{
	// font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-family: 'Playfair Display'; 
    background-color: #e0f2e9;
    color: #544b3d;
}
/* --------!!--WRAPPER--!!------- */
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
/* ---------!!--CONTENT--!!--------- */
.content {flex: 1 1 auto;}
/* ---------!!--header--!!--------- */
@import "_header";
/* ---------!!--_fullscreen--!!--------- */
@import "_main";
/* ---------!!--_filials--!!--------- */
@import "_filials";
/* ---------!!--visitors--!!--------- */
@import "_visitors";
/* ---------!!--national--!!--------- */
@import "_national";
/* ---------!!--lotto--!!--------- */
@import "_lotto";
/* ---------!!--gallery--!!--------- */
@import "_gallery";
/* ---------!!--museum--!!--------- */
@import "_museum";
/* ---------!!--old--!!--------- */
@import "_old";
/* ---------!!--footer--!!--------- */
@import "_footer";
/*//? ---------!!--MEDIA--!!--------- */
@import "media-queries.scss";
